$font-body: 1rem "Nunito", sans-serif;
$height-body: 100vh;
$pointer: pointer;
$space-bottom: 10px;
$light-background: #fff;
$black-font-color: #000;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: $font-body;
    min-height: $height-body;
}

header {
    top: 0;
    margin: 8px;
}

footer {
    bottom: 0;
}

.small-p {
    opacity: 0.8;
    font-size: 12px;
}

/* Header */
h1 {
    padding: 2px;
}

.phone-img {
    width: 40px;
    height: 40px;
}

.title {
    display: flex;
    justify-content: space-evenly;
}

nav {
    background-color: $light-background;
    color: $black-font-color;
    padding: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;

    a {
        text-decoration: none;
    }
}

.buy-now {
    display: block;
    margin: auto;
    padding: 5px;
    width: 25%;
    background-color: $light-background;
    color: #008CBA;
    border: 2px solid #008CBA;
    border-radius: 4px;

    &:hover {
        cursor: $pointer;
        background-color: #9dd9ed;
        opacity: 0.8;
    }
}
/*  */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/* Get App form */
#get-app-form {
    p,h2 {
        color: $light-background;
        text-align: center;
    }
    
    h2 {
        padding: 15px;
    }
}

.background-image {
    background-image: url("../Image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 39px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: $light-background;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: $pointer;

    &[type=submit]:hover {
        opacity: 0.8;
    }
}
/*  */

/* Rating form */
#rating-form {
    display: flex;
    line-height: 1.4rem;
    text-align: center;
}
/*  */

/* Activity goals */
#activity-goals {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;

    h3 {
        margin-bottom: $space-bottom;
    }

    img {
        width: 300px;
    }
}
/*  */

/* About App */
#about-application-card {
    .card-title {
        text-align: center;
        margin: 10px;
        line-height: 1.5rem;
    }

    .card-body {
        display: flex;
        background-color: floralwhite;
        margin-bottom: $space-bottom;

        img {
            width: 150px;
            height: 150px;
        }

        .card-text {
            margin: 15px;
        }
    }
}
/*  */

/* Look at App */
#look-at-application-form {
    .card-title {
        text-align: center;
        margin-bottom: $space-bottom;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            margin-bottom: $space-bottom;
        }
    }
}
/*  */

/* Start using app card */
#get-access-app {
    .card-title {
        text-align: center;
        margin-bottom: 20px;

        h3 {
            margin-bottom: $space-bottom;
        }
    }

    .get-access-app-cards {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .card-body {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            width: 100%;
            margin: auto;
            text-align: center;
            line-height: 2.5rem;

            .card-text {
                display: flex;
                justify-content: center;
                gap: 10px;
                opacity: 0.8;

                .card-image {
                    width: 20px;
                    height: 20px;
                    margin: auto 0;
                }
            }

            .card-button {
                background-color: $light-background;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                color: rgb(19, 19, 171);
                padding: 10px;
                margin: 10px 0;
                font-weight: bold;
                border: 2px solid $light-background;
                border-radius: 4px;
                opacity: 0.8;

                .card-button:hover {
                    cursor: $pointer;
                    background-color: rgb(167, 167, 230);
                    opacity: 0.6;
                }
            }
        }
    }
    
}
/*  */

/* Feedback Section */
#feedback {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 1.5rem;
}

#feedback {
    p {
        opacity: 0.6;
    }
    
    .feedback-user {
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }

    .feedback-image {
        width: 50px;
        height: 50px;
        margin: 0 10px;
        border-radius: 50%;
    }
    
    .icon {
        opacity: 0.4;
    }
}
/*  */

/* Our Team */
#our-team {
    padding: 15px;

    .info {
        margin-bottom: $space-bottom;
    }
    
    .parg {
        display: flex;
        gap: 1;
        text-wrap: balance;
    }
    
    .team-cards {
        display: flex;
        flex-wrap: wrap;

        .card-body {
            background-color: $light-background;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 70px 10px;

            img {
                position: relative;
                bottom: 60px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-bottom: $space-bottom;
            }

            .card-items {
                position: relative;
                bottom: 50px;

                p {
                    margin: 15px 0;
                    opacity: 0.5;
                }
                
                a {
                    background-color: $light-background;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    padding: 5px 0;
                }
            }
        }
    }
}
/*  */

/* User Opinion */
#user-opinion {
    text-align: center;
    padding: 10px;

    p {
        opacity: 0.5;
        margin-bottom: $space-bottom;
    }
    
    h3 {
        margin-bottom: $space-bottom;
    }
    
    .message-card {
        background-color: $light-background;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 25px;
        padding: 25px;

        .user-info {
            display: flex;
            gap: 20px;
        }
        
        .message-form {
            margin-bottom: 20px;
        }
        
        .message {
            padding: 30px;
        }
        
        a {
            padding: 10px;
            background-color: rgb(15, 68, 194);
            color: $light-background;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
    }
}
/* */ 

#app-form {

    text-align: center;
    margin-bottom: $space-bottom;

    p {
        opacity: 0.5;
        margin-bottom: $space-bottom;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: $space-bottom;
    }
    
    .app-buttons {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: $space-bottom;

        a {
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .apple-button {
            background-color: $light-background;
            border: 2px solid #4CAF50;
            color: #4CAF50;
        }
        
        .android-button {
            background-color: rgb(48, 189, 5);
            color: $light-background;
        }
    }

    img {
        width: 150px;
        margin-bottom: 15px;
    }
}
/*  */

/* Footer */
footer {
    background: $light-background;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: $black-font-color;
    text-align: center;
    padding: 20px;
}
/*  */

@import 'tap';
@import 'laptop';